.idea/
__pycache__/
*.pyc

.taskcat
taskcat_outputs/
env/
docs/generated
.taskcat_overrides.yml

.DS_Store
imcCdk/config.yaml
.vscode
.vagrant
ubuntu*.log
package
cdk.out/
imcquickstart.egg-info/
.venv
**/.deps
